Makefile.in
Makefile

*.o
*.log
*.xml
# http://www.gnu.org/software/autoconf

/depcomp
/install-sh
/missing
/aclocal.m4
/autom4te.cache
/configure
/configure.in
/config.log
/config.status
/configure.lineno

.deps


src/trailermatic
src/trailermatic-mw
compile
.dirstamp
*.bak
*.trs
test-driver
